body {

	background-image: url(nuves.png);
	background-attachment: fixed;
    background-repeat: repeat;
    background-repeat: no-repeat;
    background-color: #C0DEED;

	padding: 25px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	position: center

}

a {
	color: #00B7FF;
}

.tweeterline {
	/* TOP RIGHT BOTTOM LEFT*/
	margin: 0 auto 0 auto;

	width: 600px;
	border-style: dotted;
	border-width: 1px;
}

.buttons {

	display: inline;
}

.foto {
    width: 70px;
    height: 70px;
	float: left;
	margin-left: 20px;
	border-radius: 10px;
}